@{
    Layout = "/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Admin";
}

<h2>Admin</h2>
<ul>
    <li><a asp-area="Admin" asp-controller="Gamebooks" asp-action="Index">Gamebooks</a></li>
</ul>
